/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@-webkit-keyframes text-slide {
  0% {
    letter-spacing: -0.5em;
    transform: translateY(-100px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes text-slide {
  0% {
    letter-spacing: -0.5em;
    transform: translateY(-100px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes rotate-square {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
@keyframes rotate-square {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
@-webkit-keyframes scale-circle {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scale-circle {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes vibrate {
  0% {
    transform: translate(0);
  }
  10% {
    transform: translate(-3px, -3px);
  }
  20% {
    transform: translate(3px, -3px);
  }
  30% {
    transform: translate(-3px, 3px);
  }
  40% {
    transform: translate(3px, 3px);
  }
  50% {
    transform: translate(-3px, -3px);
  }
  60% {
    transform: translate(3px, -3px);
  }
  70% {
    transform: translate(-3px, 3px);
  }
  80% {
    transform: translate(-3px, -3px);
  }
  90% {
    transform: translate(3px, -3px);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes vibrate {
  0% {
    transform: translate(0);
  }
  10% {
    transform: translate(-3px, -3px);
  }
  20% {
    transform: translate(3px, -3px);
  }
  30% {
    transform: translate(-3px, 3px);
  }
  40% {
    transform: translate(3px, 3px);
  }
  50% {
    transform: translate(-3px, -3px);
  }
  60% {
    transform: translate(3px, -3px);
  }
  70% {
    transform: translate(-3px, 3px);
  }
  80% {
    transform: translate(-3px, -3px);
  }
  90% {
    transform: translate(3px, -3px);
  }
  100% {
    transform: translate(0);
  }
}
/* GENERAL */
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

.container {
  max-width: 1352px;
  margin: 0 auto;
}
@media (max-width: 1023px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}
@media (min-width: 1024px) and (max-width: 1351px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}

/* HEADINGS */
h1 {
  font-family: "Raleway", sans-serif;
  font-size: 3.0625rem;
  line-height: 3.5625rem;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 2.25rem;
  line-height: 2.625rem;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 3.0625rem;
  line-height: 3.5625rem;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.3125rem;
  color: #08A6E4;
}

/* BUTTONS */
.btn {
  border: none;
  font-weight: 700;
  display: inline-block;
  border-radius: 23px;
  padding: 18px 57px;
  transition: 0.5s;
}
.btn:hover {
  transform: scale(1.1);
}
.btn--cta {
  padding: 25px 157px;
  background-color: #08A6E4;
  box-shadow: rgba(7, 172, 230, 0.16);
  border-radius: 40px;
}
@media (max-width: 1023px) {
  .btn--cta {
    display: block;
    width: calc(100% - 60px);
    padding: 22px 0;
    text-align: center;
  }
}
.btn--primary {
  background-color: #08A6E4;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.16);
  font-size: 0.8125rem;
  padding: 18px 65px;
}
.btn--red {
  background-color: #FB3B64;
  font-size: 0.8125rem;
}
.btn--green {
  background-color: #55DFB4;
  font-size: 0.8125rem;
}
.btn--form {
  background-color: #08A6E4;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.16);
  padding: 22px 97px;
  border-radius: 35px;
  font-size: 0.8125rem;
}

/* HEADER NAV */
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 3;
  height: 70px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.29);
  background-color: #FFFFFF;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header__nav {
  display: flex;
}
@media (max-width: 1023px) {
  .header__nav {
    position: absolute;
    left: 0;
    top: 71px;
    flex-direction: column;
    background-color: white;
    width: 100%;
    display: none;
  }
}
.header .nav__element {
  padding: 0 26px;
}
@media (max-width: 1023px) {
  .header .nav__element {
    padding: 0;
  }
}
.header .nav__element:last-child {
  padding-right: 0;
}
.header .nav__link {
  padding: 28px 18px 22px;
  font-size: 0.6875rem;
  text-transform: uppercase;
  letter-spacing: 0.205rem;
  line-height: 0.9375rem;
  font-weight: 700;
  color: #A5A5A5;
  border-bottom: 4px solid transparent;
  transition: color 0.5s ease-in-out, border-color 0.5s ease-in-out;
}
@media (max-width: 1023px) {
  .header .nav__link {
    display: block;
    padding: 14px 20px;
  }
}
.header .nav__link:hover {
  color: #000000;
  border-color: #08A6E4;
}
.header .menu__btn {
  display: none;
  position: absolute;
  top: -9999px;
  left: -9999px;
  opacity: 0;
}
@media (max-width: 1023px) {
  .header .menu__btn:checked ~ .header__nav {
    display: flex;
  }
  .header .menu__btn:checked ~ .menu__toggle span:nth-child(1) {
    transform: rotate(45deg) translate(2px, 5px);
  }
  .header .menu__btn:checked ~ .menu__toggle span:nth-child(2) {
    opacity: 0;
  }
  .header .menu__btn:checked ~ .menu__toggle span:nth-child(3) {
    transform: rotate(-45deg) translate(2px, -5px);
  }
}
.header .menu__toggle {
  display: none;
}
.header .menu__toggle span {
  width: 20px;
  height: 2px;
  display: block;
  margin-bottom: 3px;
  background-color: #08A6E4;
  transition: 0.3s all ease-in-out;
}
.header .menu__toggle span:last-child {
  margin-bottom: 0;
}
@media (max-width: 1023px) {
  .header .menu__toggle {
    display: block;
  }
}

/* OPENING SECTION */
.opening {
  overflow: hidden;
}
.opening__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.opening__header {
  margin-top: 200px;
  -webkit-animation: text-slide 1.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s both;
          animation: text-slide 1.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s both;
}
@media (max-width: 1023px) {
  .opening__header {
    margin-top: 170px;
  }
}
.opening__text {
  margin-top: 20px;
  margin-bottom: 38px;
}
@media (max-width: 1023px) {
  .opening__text {
    text-align: center;
    padding: 0 60px;
  }
}
.opening__image {
  width: 100%;
  height: auto;
}
@media (max-width: 1023px) {
  .opening__image {
    width: 200%;
    transform: translateX(-26%);
  }
}

/* STATISTICS SECTION */
.statistics__header {
  text-align: center;
  margin-top: 100px;
  font-family: "Raleway", sans-serif;
}
@media (max-width: 1023px) {
  .statistics__header {
    margin-top: 60px;
  }
}
.statistics__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 800px;
  margin: 100px auto 120px;
}
@media (max-width: 1023px) {
  .statistics__container {
    margin: 40px auto 60px;
    align-items: center;
    flex-direction: column;
  }
}
.statistics__single {
  max-width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media (max-width: 1023px) {
  .statistics__single {
    margin-bottom: 40px;
  }
  .statistics__single:last-of-type {
    margin-bottom: 0;
  }
}
.statistics__single:nth-child(1) .statistics__circle {
  background-color: #FB3B64;
}
.statistics__single:nth-child(1) .statistics__img {
  top: 0;
  left: 45%;
}
.statistics__single:nth-child(2) .statistics__circle {
  background-color: #08A6E4;
}
.statistics__single:nth-child(2) .statistics__img {
  top: 22%;
  left: 47%;
}
.statistics__single:nth-child(3) .statistics__circle {
  background-color: #55DFB4;
}
.statistics__single:nth-child(3) .statistics__img {
  top: 10%;
  left: 50%;
}
.statistics__circle {
  width: 63px;
  height: 63px;
  border-radius: 50%;
  position: relative;
}
.statistics__img {
  position: absolute;
}
.statistics__numbers {
  margin-top: 13px;
  font-family: "Raleway", sans-serif;
  font-size: 1.25rem;
  font-weight: 800;
  letter-spacing: 0.1875rem;
}
.statistics__entries {
  font-family: "Raleway", sans-serif;
  margin-top: 19px;
  line-height: 1.25rem;
  color: #A5A5A5;
}

/* BENEFITS SECTION */
.benefits {
  padding: 105px 0;
  background-color: #F7F7F7;
}
@media (max-width: 1023px) {
  .benefits {
    padding: 40px 30px;
  }
}
@media (min-width: 1024px) and (max-width: 1351px) {
  .benefits {
    padding: 85px 0;
  }
}
.benefits__container {
  padding: 0 114px;
}
@media (max-width: 1023px) {
  .benefits__container {
    padding: 0;
  }
}
@media (min-width: 1024px) and (max-width: 1351px) {
  .benefits__container {
    padding: 0 80px;
  }
}
.benefits__single {
  background-color: #FFFFFF;
  border: 1px solid #E8E9ED;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 40px;
  border-radius: 5px;
}
@media (max-width: 1023px) {
  .benefits__single {
    align-items: center;
    flex-direction: column-reverse;
  }
}
.benefits__single--notebook {
  --accent-color: #FB3B64;
}
.benefits__single--notebook .benefits__image {
  margin-right: 117px;
  margin-bottom: 38px;
  position: relative;
}
@media (max-width: 1023px) {
  .benefits__single--notebook .benefits__image {
    margin-right: 0;
  }
}
.benefits__single--notebook .benefits__image::before {
  content: "";
  width: 180px;
  height: 180px;
  border-radius: 41px;
  background-color: var(--accent-color);
  display: block;
  position: absolute;
  transform: rotate(45deg);
  top: -40px;
  right: 0;
  -webkit-animation: rotate-square 10s linear infinite both;
          animation: rotate-square 10s linear infinite both;
}
@media (max-width: 1023px) {
  .benefits__single--notebook .benefits__image::before {
    width: 90px;
    height: 90px;
    border-radius: 20px;
    top: 25px;
  }
}
.benefits__single--notebook .benefits__image img {
  width: 386px;
  height: auto;
  z-index: 2;
  position: relative;
}
@media (max-width: 1023px) {
  .benefits__single--notebook .benefits__image img {
    margin-top: 40px;
    width: 193px;
  }
}
.benefits__single--iphone {
  flex-direction: row-reverse;
  --accent-color: #08A6E4;
  padding: 0 20px 0 70px;
}
@media (max-width: 1023px) {
  .benefits__single--iphone {
    flex-direction: column-reverse;
    padding: 0;
  }
}
.benefits__single--iphone .benefits__image {
  position: relative;
}
.benefits__single--iphone .benefits__image img {
  width: 426px;
  height: auto;
  position: relative;
  z-index: 2;
}
@media (max-width: 1023px) {
  .benefits__single--iphone .benefits__image img {
    width: 200px;
    height: auto;
    margin: 40px 0 20px 0;
  }
}
.benefits__single--iphone .benefits__description::before {
  background-color: var(--accent-color);
}
.benefits__single--iphone .benefits__image::after {
  content: "";
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background-color: var(--accent-color);
  display: block;
  position: absolute;
  top: -20px;
  left: 0;
  animation: scale-circle 2s linear infinite alternate-reverse;
}
@media (max-width: 1023px) {
  .benefits__single--iphone .benefits__image::after {
    width: 140px;
    height: 140px;
    top: 20px;
  }
}
.benefits__single--iphone .benefits__text {
  margin: 69px 0;
}
@media (max-width: 1023px) {
  .benefits__single--iphone .benefits__text {
    margin: 0 0 30px 0;
  }
}
.benefits__single--no-img, .benefits__single--trumpet {
  --accent-color: #55DFB4;
}
.benefits__single--no-img .benefits__text {
  box-sizing: content-box;
  max-width: 553px;
  margin: 69px 35px;
}
@media (max-width: 1023px) {
  .benefits__single--no-img .benefits__text {
    max-width: 100%;
    margin: 40px 0 30px;
  }
}
.benefits__single--no-img .benefits__description:after {
  background-color: var(--accent-color);
}
.benefits__single--trumpet {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: var(--accent-color);
  margin-left: 60px;
}
@media (max-width: 1023px) {
  .benefits__single--trumpet {
    margin-top: -5px;
    margin-left: 0;
  }
}
.benefits__single--trumpet img {
  width: 295px;
  height: auto;
  margin-top: 50px;
  -webkit-animation: vibrate 2s linear infinite both;
          animation: vibrate 2s linear infinite both;
}
@media (min-width: 1024px) and (max-width: 1351px) {
  .benefits__single--trumpet img {
    margin-right: 30px;
  }
}
@media (max-width: 767px) {
  .benefits__single--trumpet img {
    margin-right: 20px;
  }
}
.benefits__text {
  box-sizing: content-box;
  max-width: 416px;
  margin: 90px 36px;
}
@media (max-width: 1023px) {
  .benefits__text {
    box-sizing: border-box;
    max-width: 100%;
    margin: 0 0 30px 0;
    padding: 0 20px;
  }
}
.benefits__text:after {
  content: "";
  display: block;
  width: 328px;
  height: 4px;
  margin-top: 50px;
  background-color: var(--accent-color);
}
@media (max-width: 1023px) {
  .benefits__text:after {
    display: none;
  }
}
.benefits__description {
  margin-top: 30px;
  line-height: 1.375rem;
}
.benefits__double {
  display: flex;
}
@media (max-width: 1023px) {
  .benefits__double {
    flex-direction: column;
  }
}
.benefits__double .benefits__single {
  margin-bottom: 0;
}

/* PRICING SECTION */
.pricing {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1023px) {
  .pricing {
    margin: 50px auto 70px;
  }
}
.pricing__boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
@media (max-width: 1023px) {
  .pricing__boxes {
    flex-direction: column;
    margin-top: 15px;
  }
}
.pricing__box {
  width: 370px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--accent-color);
}
@media (max-width: 1023px) {
  .pricing__box {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 55px;
    width: 100%;
    max-width: 370px;
    padding-top: 40px;
  }
  .pricing__box:last-of-type {
    margin-bottom: 0;
  }
}
@media (min-width: 1024px) and (max-width: 1351px) {
  .pricing__box {
    width: 270px;
  }
}
.pricing__details {
  margin-top: 34px;
  margin-bottom: 60px;
  text-align: center;
}
@media (max-width: 1023px) {
  .pricing__details {
    margin: 0;
    width: 50%;
  }
}
.pricing__type {
  font-size: 1.25rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.pricing__price {
  font-size: 2.875rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  margin-top: 25px;
  color: var(--accent-color);
}
.pricing__limited {
  text-align: center;
  margin-top: 15px;
  font-size: 0.75rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.pricing__items {
  text-align: center;
}
@media (max-width: 1023px) {
  .pricing__items {
    width: 50%;
    text-align: left;
  }
}
.pricing__item {
  font-size: 0.875rem;
  margin-bottom: 25px;
}
.pricing__item:last-of-type {
  margin-bottom: 26px;
}
@media (max-width: 1023px) {
  .pricing__item:last-of-type {
    margin-bottom: 0;
  }
}
.pricing__item::before {
  content: "";
  width: 11px;
  height: 11px;
  display: inline-block;
  margin-right: 10px;
  background-image: url("../assets/Ckechmark-1.svg");
}
.pricing__item--not::before {
  background-image: url("../assets/Close.svg");
}
.pricing__box .btn {
  position: relative;
  bottom: -25px;
}
@media (max-width: 1023px) {
  .pricing__box .btn {
    padding: 15px 65px;
  }
}

/* PRICING SECTION - BOXES SPECIFICATION */
.pricing__box--basic {
  --accent-color: #FB3B64;
}
.pricing__box--basic .pricing__price {
  margin-bottom: 30px;
}
.pricing__box--professional {
  --accent-color: #08A6E4;
  box-shadow: 5px 1px 27px rgba(7, 172, 230, 0.16);
  width: 405px;
  margin: 0 40px;
}
@media (max-width: 1023px) {
  .pricing__box--professional {
    width: 100%;
    max-width: 405px;
    margin-bottom: 50px;
  }
}
@media (min-width: 1024px) and (max-width: 1351px) {
  .pricing__box--professional {
    width: 300px;
  }
}
.pricing__box--professional .pricing__item {
  margin-bottom: 30px;
}
.pricing__box--professional .pricing__type {
  font-size: 1.3125rem;
}
.pricing__box--premium {
  --accent-color: #55DFB4;
}

/* CONTACT SECTION */
.contact {
  padding: 55px 228px 60px;
  display: flex;
  justify-content: center;
}
@media (max-width: 1023px) {
  .contact {
    padding: 0 30px 45px;
    flex-direction: column;
  }
}
@media (min-width: 1024px) and (max-width: 1351px) {
  .contact {
    padding: 40px 30px 60px;
  }
}
.contact__info {
  width: 50%;
}
@media (max-width: 1023px) {
  .contact__info {
    width: 100%;
  }
}
.contact__title {
  font-size: 3.0625rem;
  line-height: 3.6875rem;
}
.contact__text {
  margin: 22px 0 42px;
  font-size: 1rem;
  line-height: 1.375rem;
}
@media (max-width: 1023px) {
  .contact__text {
    margin: 5px 0 30px;
  }
}
.contact__details {
  display: flex;
  justify-content: flex-start;
  color: #A5A5A5;
  align-items: center;
}
@media (max-width: 1023px) {
  .contact__details {
    flex-direction: column;
    align-items: flex-start;
  }
}
.contact__way {
  color: #A5A5A5;
  font-weight: 500;
  text-decoration: none;
}
@media (max-width: 1023px) {
  .contact__way {
    margin-bottom: 10px;
  }
}
.contact__way:first-of-type {
  margin-right: 20px;
}
.contact__way img {
  margin-right: 10px;
  transition: 0.3s;
}
@media (max-width: 1023px) {
  .contact__way img {
    margin-right: 5px;
  }
}
.contact__way img:hover {
  transform: scale(1.3);
}

/* CONTACT SECTION - CONTACT FORM */
.contact__form {
  width: 50%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1023px) {
  .contact__form {
    margin-top: 40px;
    width: 100%;
  }
}
.contact__form .btn--form {
  align-self: flex-end;
  margin-top: 20px;
}
.contact__label {
  font-weight: 700;
  font-size: 0.6875rem;
  letter-spacing: 0.205rem;
  color: #08A6E4;
  line-height: 0.9375rem;
}

input[type=text],
input[type=email] {
  width: auto;
  line-height: 2.625rem;
  outline: none;
  border: none;
  border-bottom: 1px solid #95989A;
  margin-bottom: 40px;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox {
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  font-size: 0.75rem;
  line-height: 1.0625rem;
  color: #707070;
}

.checkbox span {
  height: 24px;
  flex-shrink: 0;
  flex-basis: 24px;
  border: 1px solid #95989A;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 4px;
}

.checkbox input:checked + span {
  background-image: url("../assets/Checkmark.svg");
  background-repeat: no-repeat;
  background-size: 12px 11px;
  background-position: center;
}

/* FOOTER */
.footer {
  height: 90px;
  background-color: #F7F7F7;
  box-shadow: 0 -5px 40px rgba(0, 0, 0, 0.29);
}
.footer__container {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.footer__logo {
  font-family: "Raleway", sans-serif;
  font-size: 1.625rem;
  font-weight: 300;
  color: #08A6E4;
  line-height: 1.875rem;
}
.footer__copyright {
  margin-top: 6px;
  display: block;
  font-size: 0.6875rem;
  line-height: 0.9375rem;
  color: #A5A5A5;
}
.footer__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer__social-media {
  transition: 0.4s;
}
.footer__social-media:nth-of-type(2) {
  margin-left: 20px;
}
.footer__social-media:hover {
  transform: scale(1.4);
}
/*# sourceMappingURL=main.css.map */
