:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
}

/* GENERAL */

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-open-sans);
}

a {
    text-decoration: none;
}

.container {
    width: 1352px;
    margin: 0 auto;
}

/* HEADINGS */

h1 {
    font-family: var(--font-raleway);
    font-size: 3.0625rem;
    line-height: 3.5625rem;
}

h2 {
    font-family: var(--font-raleway);
    font-size: 2.25rem;
    line-height: 2.625rem;
}

h3 {
    font-family: var(--font-raleway);
    font-size: 3.0625rem;
    line-height: 3.5625rem;
}

/* BUTTONS */

.btn {
    border: none;
    color: white;
    font-weight: 700;
    display: inline-block;
    border-radius: 23px;
    padding: 16px 57px;
}

.btn--cta {
    padding: 22px 157px;
    background-color: var(--color-primary);
    box-shadow: var(--color-primary-shadow);
    border-radius: 40px;
}

.btn--primary {
    background-color: var(--color-primary);
    box-shadow: var(--color-primary-shadow);
}

.btn--red {
    background-color: var(--color-redish);
}

.btn--green {
    background-color: var(--color-green);
}

.btn--form {
    background-color: var(--color-primary);
    box-shadow: var(--color-primary-shadow);
    padding: 20px 97px;
    border-radius: 35px;
}

/* HEADER NAV */

.header {
    height: 70px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .29);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    color: var(--color-primary);
    font-family: var(--font-raleway);
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.3125rem;
}

.header__nav {
    display: flex;
}

.nav__element {
    padding: 0 26px;
}

.nav__element:last-child {
    padding-right: 0;
}

.nav__link {
    color: var(--color-grey);
    text-transform: uppercase;
    font-size: 0.6875rem;
    letter-spacing: 0.205rem;
    line-height: 0.9375rem;
    font-weight: 700;
    padding: 28px 18px 22px;
    border-bottom: 4px solid transparent;
    transition: 0.5s ease-out;
}

.nav__link:hover {
    color: var(--color-black);
    border-color: var(--color-primary);
}

/* OPENING SECTION */

.opening__content {
    display: flex;
    flex-direction: column;
    align-items: center
}

.opening__header {
    margin-top: 130px;
    font-family: var(--font-raleway);
    font-size: 49px;
    font-weight: 400;
}

.opening__text {
    margin-top: 20px;
    margin-bottom: 38px;
}

.opening__image {
    width: 100%;
    height: auto;
}

/* STATISTICS SECTION */

.statistics__header {
    text-align: center;
    margin-top: 100px;
    font-family: var(--font-raleway);
}

.statistics__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 800px;
    margin: 100px auto 120px;
}

.statistics__single {
    max-width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.single__circle {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    position: relative;
}

.circle__img {
    position: absolute;
}

.statistics__single:nth-child(1) .single__circle {
    background-color: var(--color-redish);
}

.statistics__single:nth-child(1) .circle__img {
    top: 0;
    left: 45%;
}

.statistics__single:nth-child(2) .single__circle {
    background-color: var(--color-primary);
}

.statistics__single:nth-child(2) .circle__img {
    top: 22%;
    left: 47%;
}

.statistics__single:nth-child(3) .single__circle {
    background-color: var(--color-green);
}

.statistics__single:nth-child(3) .circle__img {
    top: 10%;
    left: 50%;
}

.single__numbers {
    margin-top: 13px;
    font-family: var(--font-raleway);
    font-size: 1.25rem;
    font-weight: 800;
    letter-spacing: 0.1875rem;
}

.single__entries {
    font-family: var(--font-raleway);
    margin-top: 19px;
    line-height: 1.25rem;
    color: var(--color-grey);
}

/* BENEFITS SECTION */

.benefits {
    padding: 105px 0;
    background-color: var(--color-light-grey);
}

.benefits__container {
    padding: 0 114px;
}

.benefits__single {
    background-color: var(--color-white);
    border: 1px solid #E8E9ED;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 36px;
    border-radius: 5px;
}

.benefits__text {
    box-sizing: content-box;
    max-width: 416px;
    margin: 90px 36px;
}

.benefits__text::after {
    content: '';
    display: block;
    width: 328px;
    height: 4px;
    margin-top: 50px;
    background-color: var(--accent-color);
}

.benefits__description {
    margin-top: 30px;
    line-height: 1.375rem;
}

.benefits__single--notebook {
    --accent-color: var(--color-redish);
}

.benefits__single--notebook .benefits__image {
    margin-right: 117px;
    margin-bottom: 38px;
    position: relative;
}

.benefits__single--notebook .benefits__image img {
    width: 386px;
    height: auto;
    z-index: 2;
    position: relative;
}

.benefits__single--notebook .benefits__image::before {
    content: '';
    width: 180px;
    height: 180px;
    border-radius: 41px;
    background-color: var(--accent-color);
    display: block;
    position: absolute;
    transform: rotate(45deg);
    top: -40px;
    right: 0;
}

.benefits__single--iphone {
    flex-direction: row-reverse;
    --accent-color: var(--color-primary);
    padding: 0 20px 0 70px;
}

.benefits__single--iphone .benefits__image {
    position: relative;

}
.benefits__single--iphone .benefits__image img {
    width: 426px;
    height: auto;
    position: relative;
    z-index: 2;
}

.benefits__single--iphone .benefits__description::before {
    background-color: var(--accent-color);
}

.benefits__single--iphone .benefits__image::after {
    content: '';
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background-color: var(--accent-color);
    display: block;
    position: absolute;
    top: -20px;
    left: 0;
}

.benefits__single--iphone .benefits__text {
    margin: 69px 0;
}

.benefits__double {
    display: flex;
}

.benefits__single--no-img,
.benefits__single--trumpet {
    --accent-color: var(--color-green);
}

.benefits__double .benefits__single {
    margin-bottom: 0;
}

.benefits__single--no-img .benefits__text {
    box-sizing: content-box;
    max-width: 553px;
    margin: 69px 35px;
}

.benefits__single--no-img .benefits__description:after {
    background-color: var(--accent-color);
}

.benefits__single--trumpet {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: var(--accent-color);
    margin-left: 60px;
}

.benefits__single--trumpet img {
    width: 295px;
    height: auto;
    margin-top: 50px;
}