@keyframes text-slide {
  0% {
    letter-spacing: -0.5em;
    transform: translateY(-100px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes rotate-square {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}

@keyframes scale-circle {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes vibrate {
  0% {
    transform: translate(0);
  }
  10% {
    transform: translate(-3px, -3px);
  }
  20% {
    transform: translate(3px, -3px);
  }
  30% {
    transform: translate(-3px, 3px);
  }
  40% {
    transform: translate(3px, 3px);
  }
  50% {
    transform: translate(-3px, -3px);
  }
  60% {
    transform: translate(3px, -3px);
  }
  70% {
    transform: translate(-3px, 3px);
  }
  80% {
    transform: translate(-3px, -3px);
  }
  90% {
    transform: translate(3px, -3px);
  }
  100% {
    transform: translate(0);
  }
}
