/* STRIPE SECTION - SUCCESS / CANCEL */

.stripe {
  
  &__container {
    display: flex;
    justify-content: center;
    font-weight: bold;
    height: 90vh;
  }
  
  &__center {
    display: flex;
    align-items: center;
  }
  
  &__icon {
    font-size: 3.125rem;
  }
}